<body class="homebg">
<div class="jumbotron">
  <h1>About What Gives?</h1>
  <h2>Manage your donors better</h2>
  <p>Let's face it. Most donor management systems suck. What Gives? enables you to easily track contacts, donors and prospects with a modern, clean interface. </p>
  <p><%= link_to "Sign Up", new_registration_path(User), class: "btn btn-primary btn-lg" %>
  <%= link_to "Sign In", new_session_path(User), class: "btn btn-primary btn-lg"%></p>
</div>
<P> What Gives? was made by <%= link_to "Eleanor Callott Whitney", "http://eleanorcwhitney.com"%> for <%= link_to "General Assembly's", "https://generalassemb.ly/"%> Back End Web Development class in February 2014. Updates? Suggestions? Follow along on <%= link_to "Github", "https://github.com/EleanorCallottWhitney/what_gives"%>. What Gives? was built on Ruby on Rails using <%= link_to "Devise", "https://github.com/plataformatec/devise" %> for authentication and <%= link_to "Bootstrap", "http://getbootstrap.com/" %> for styling. Drop a line at <%= mail_to "eleanor.whitney@gmail.com" %></p>
<p>Many, many thanks to Eric Collins, Jamal Powell, Zachary Reitano, Scott Carleton, Bill Mantegna, Vish Reddy, Kirsten Nordine, Nick Patch, Michael Zole, Erin M. Kidwell, and Ari Russo for all of your help and encouragement!</p> 
</div>