<h1>Contacts</h1>

<%= form_tag contacts_path, method: :get do %>
<%= text_field_tag :query, params[:query],  placeholder: "Search Here" %>
<%= submit_tag "Search Contacts" %>
<% end %>

  
<table>
  <thead>
    <tr>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
      <th></th>
    </tr>
  </thead>

  <tbody>
    <% @contacts.each do |contact| %>
      <tr>
        <td><%= link_to contact.first_name, contact_path(contact) %></td>
        <td><%= contact.last_name %></td>
        <td><%= contact.company %></td>
        <td><%= contact.email %></td>
        <td><%= number_to_phone(contact.phone_number) %></td>
        <td><%= contact.address %></td>
        <td><%= contact.linked_in %></td>
        <td><%= contact.bio %></td>
        <td><%= link_to "View Contact", contact_path(contact) %></td>
        <td><%= link_to "Update Contact", edit_contact_path(contact) %>
        <%= link_to "Delete Contact", contact_path(contact), method: :delete %></td>
      </tr>
    <% end %>
  </tbody>
</table>


