<h1><%= @contact.first_name %> <%= @contact.last_name %></h1>


	<%= @contact.company %>
	<br/>
	
	<%= @contact.email %>
	<br/>

	<%= @contact.phone_number %>
	<br/>
	
	<%= @contact.address %>
	<br/>
	
	<%= @contact.linked_in %>
	<br/>

	<%= @contact.bio %>

	<br/>
	<%= link_to 'Edit', edit_contact_path %>
	<%= link_to 'Back', contacts_path %>
	<br/>

	<h2>Interactions</h2>
	<%= form_for [@contact, @interaction] do |f|  %>
		<%= f.label :interacted_at %>
		<%= f.date_select :interacted_at %>
		<br/>
		<%= f.label :note %>
		<%= f.text_area :note %>
		<br/>
		<%= f.submit %>
	<% end %> 

	<% @contact.interactions.each do |interaction| %>
		<p><%= interaction.interacted_at %></p>
		<p><%= interaction.note %> </p>
		<%= link_to 'Delete', contact_interaction_path(interaction.contact_id, interaction.id), confirm: 'Are you sure?', method: :delete %>
	<% end %>

	<h2>Donations</h2>
	<%= form_for [@contact, @donation] do |f|  %>
		<%= f.label :date %>
		<%= f.date_select :date %>
		<br/>
		<%= f.label :amount %>
		<%= f.text_field :amount %>
		<br/>
		<%= f.submit %>
	<% end %> 

	<% @contact.donations.each do |donation| %>
		<p><%= donation.date %></p>
		<p><%= number_to_currency(donation.amount) %> </p>
		<%= link_to 'Delete', contact_donation_path(donation.contact_id, donation.id), confirm: 'Are you sure?', method: :delete %>
	<% end %>

	

	 

	


