<div class="page-header">
  <h1><%= @contact.first_name %> <%= @contact.last_name %><small> gives a...</small></h1>
</div>

<div class="row">
	<div class="col-md-6">
	<b>Company:</b><%= @contact.company %>
	<br/>
	<b>Email:</b><%= @contact.email %>
	<br/>
	<b>Phone:</b><%= number_to_phone(@contact.phone_number) %>
	<br/>
	<b>Address:</b><%= @contact.address %>
	<br/>
	<b>LinkedIn</b><%= @contact.linked_in %>
	<br/>
	<b>Bio:</b><%= @contact.bio %>
	<br/>
	<p><%= link_to 'Edit', edit_contact_path, class: "btn btn-info"%>
	<%= link_to 'Back', contacts_path, class: "btn btn-info" %>
	</div>

	<div class="col-md-6">
	<h4>How much did they give?</h4>
	<b><%= number_to_currency(@contact.total_donations) %></b>
	<br/>
	<% if @contact.high_roller? %>
		<p><b><i>Gives a damn!</i></b></p>
	<% end %>

	<h5>When and in what amount?</h5>
	<%= form_for [@contact, @donation] do |f|  %>
		<%= f.label :date %>
		<%= f.date_select :date %>
	<br/>
		<%= f.label :amount %>
		<%= f.text_field :amount %>
	<br/>
		<%= f.submit %>
	<% end %> 

	<% @contact.donations.each do |donation| %>
		<p><%= donation.date %></p>
		<p><b><%= number_to_currency(donation.amount) %></b></p>
		<%= link_to 'Delete', contact_donation_path(donation.contact_id, donation.id), confirm: 'Are you sure?', method: :delete, class: "btn btn-info"%>
	<% end %>
	</div>
</div>

<div class="row">
	<div class="col-lg-12">
	<h4>Interactions</h4>
	<%= form_for [@contact, @interaction] do |f|  %>
		<%= f.label :interacted_at %>
		<%= f.datetime_select :interacted_at %>
	<br/>
		<%= f.label :note %>
		<%= f.text_area :note %>
	<br/>
		<%= f.submit %>
	<% end %> 

	<% @contact.interactions.each do |interaction| %>
		<p><%= interaction.interacted_at %></p>
		<p><%= interaction.note %> </p>
		<%= link_to 'Delete', contact_interaction_path(interaction.contact_id, interaction.id), confirm: 'Are you sure?', method: :delete, class: "btn btn-info"%>
	<% end %>
</div>

	

	

	 

	


