<!DOCTYPE html>
<html>
<head>
  <title>WhatGives</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

<p class="notice"><%= notice %></p>
<p class="alert"><%= alert %></p>

 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
  <a class="navbar-brand" href="/">What Gives?</a>
  <ul class="nav navbar-nav">
      <li><%= link_to "About", about_path %></li>
        <% if user_signed_in? %>
        <li><%= link_to "Contacts", contacts_path %></li>
        <li><%= link_to "New contact", new_contact_path %></li>
      <li><%= link_to "Log out", destroy_user_session_path, method: :delete %></li>  
      <li><p class="navbar-text">What gives <%= current_user.email %>? </p></li>
      <% else %>
      <%- if controller_name != 'sessions' %>
      <li><%= link_to "Sign in", new_session_path(User) %></li>
    <% end -%>
      <li>  <%= link_to "Sign up", new_registration_path(User) %></li>
    <% end %>
   </ul>     
  </div>
</nav> 

	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  
<%= yield %>

</body>
</html>
