<!DOCTYPE html>
<html>
<head>
  <title>WhatGives</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>

 <nav class="navbar navbar-default navbar-fixed-top" role="navigation">
  <div class="container">
  <a class="navbar-brand" href="/">What Gives?</a>
  <ul class="nav navbar-nav">
      <li class="active"><a href="/home">Home</a></li>
      <li><a href="#">Link</a></li>
   </ul>     
  </div>
</nav> 

	<p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>

  <% if user_signed_in? %>
  	<p class="user">You are signed in as <%= current_user.email %> </p> 
    <%= link_to "Home", root_path %>
    <%= link_to "Add a new contact", new_contact_path %>

  	<%= link_to "Log out", destroy_user_session_path, method: :delete %> 
  <% else %>
  	<%- if controller_name != 'sessions' %>
  		<%= link_to "Sign in", new_session_path(User) %><br />
		<% end -%>
  		<%= link_to "Sign up", new_registration_path(User) %><br />
	<% end -%>	

<%= yield %>

</body>
</html>
